**/bin/
**/obj/
**/logs/
**/[Tt]est[Rr]esult*/

**/node_modules/
**/.next/
**/.env
**/.env.*
!**/.env.example
**/*.tsbuildinfo

tests/
.git/
.gitignore
.vscode/
.dockerignore
Dockerfile
docker-compose*.yml

*.md
LICENSE
